#credits {
  display: flex;
  align-items: center;
  padding-top: 60px;
}

.ending-credits {
  font-family: "Inter", sans-serif;
  color: var(--text-muted);
  text-align: center;
  width: 100%;
  font-size: 16px;
  padding-bottom: 40px;
}
